.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader::before {
    content: "";
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    position: absolute;
    width: 140px;
    height: 55px;
    z-index: 20;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-top: none;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.082);
  }
  
  .loader div {
    background: rgb(228, 228, 228);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: -1;
    animation: anim 2s infinite ease;
    animation-delay: calc(-0.3s * var(--i));
    transform: translateY(5px);
    margin: 0.2em;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(-65px);
    }
  }
  
  @keyframes fadeOutUp {
    to {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
  
  #content {
    opacity: 0;
    visibility: hidden;
    filter: blur(10px);
    transition: opacity 1s ease-in-out, filter .5s ease-in-out;
  }
  
  #content.visible {
    opacity: 1;
    visibility: visible;
    filter: blur(0);
  }